<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'WangZhiLue'
  owner: 'hahahh0',
  repo: 'test',
  oauth: {
    client_id: '47cc9cf1be766d07a603',
    client_secret: 'f8fa705220d18e094fdf92b4e16ce43042d7bf7c',
  },
})
gitment.render('container')
</script>
